node_modules
.next
.git
.gitignore
.vscode
.vercel
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env.local
.env*.local
.DS_Store
README.md
WEBSITE_INFO.md
Dockerfile
docker-compose.yml
.dockerignore
